body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
 
main {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 6% 15% 8% 15%;
}


p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding: 50px;
}
ul {
    margin-left: 20px;
    font-size: 20px;
    
}


h1 {
    font-size: 24px;
    margin: 0; 
    text-align: center;
    font-size: 45px;
    font-family: cursive; 
    padding: 20px;
    
}

.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    width: 250px; 
    margin: 15px;
    

}


  





 