body {
    padding: 0px;
    margin: 0px;
  }
  
main {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 6% 15% 8% 15%;

}

.logo {
    display: flex;
    align-items: center; 
}

.logo img {
    width: 250px; 
    margin: 15px;
    

}

h1{
    text-align: center;
    font-size: 45px;
    font-family: cursive;
    margin: auto;
}

h2{
    text-align: center;
    font-size: 20px;
}

p{
    text-align: center;
    font-size: 18px;
    font-style: italic; 
}


h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    text-align: center;
    margin-bottom: 15px;
}

p a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
    color: #0056b3;
}







