.bouton {
    align-items: center;
    padding: 20px;

}
 
button{
    margin: auto;
    padding: 20px; 
    font-family: 'Apple Chancery', cursive ;
    text-align: center; 
    font-size: medium;
}

input{
    margin: 20px;
}


.btn {
    position: absolute;
    top: 500px;
    right: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.btn button{
    background-color: rgb(74, 81, 133);  
    color: white;
    width: 300px; 
    height: 100px; 
    
} 

#resultat {
    width: 1000px;
    height: 430px;
    background-color: rgb(109, 212, 109);
    border: 1px solid rgb(109, 212, 109);
    border-radius: 40px; 
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Apple Chancery', cursive;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto; 
   display: none;
}


@media (max-width: 1400px) {
    #resultat {
        width: auto;
        height: auto; 
        margin-top: 10px; 
        display: none; 
    }

    .btn {
        position: static; 
        text-align: center;
        display: block;
        margin-top: 20px; 
        margin-bottom: 20px; 
    }

}

section {
    text-align: center;
    padding: 40px 0;
    position: relative;
}

label{
    font-family: 'Apple Chancery', cursive ;
    text-align: center;
    color: rgb(74, 81, 133);
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
     
}
#mails, #heuresUtilisation, select{
    width: 300px; 
    height: 40px; 
    padding: 5px; 
    font-size: 16px;
    font-family: 'Apple Chancery', cursive ;
    text-align: center; 

}

#result{
    font-family: 'Apple Chancery', cursive ;
    text-align: center;
    font-weight: bold;

}  
.phr{
    margin: 20px;
    font-weight: bolder;
    font-size: 20px;
}  

    